.animated {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.glowing {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.glowing {
  -webkit-animation-name: glowing;
  animation-name: glowing;
}

.rotateClockwise {
  -webkit-animation-name: rotateClockwise;
  animation-name: rotateClockwise;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.rotateCounterClockwise {
  -webkit-animation-name: rotateCounterClockwise;
  animation-name: rotateCounterClockwise;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes rotateClockwise {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  10% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  90% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rotateClockwise {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  10% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  90% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@-webkit-keyframes rotateCounterClockwise {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  10% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  90% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

@keyframes rotateCounterClockwise {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  10% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  90% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

@-webkit-keyframes glowing {
  0% {
    opacity: .7;
  }

  30% {
  	opacity: 1;
  }

  70% {
  	opacity: .3;
  }

  100% {
    opacity: .7;
  }
}

@keyframes glowing {
  0% {
    opacity: .7;
  }

  30% {
  	opacity: 1;
  }

  70% {
  	opacity: .3;
  }

  100% {
    opacity: .7;
  }
}