.center {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	margin-top: 20px;
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}

.animations, .scale, .visibility {
	position: absolute;
	z-index: 1;

	ul {
		list-style: none;
		margin: 10px 0;
		padding: 0;

		li {
			padding: 5px 10px;

			&:not(.title):hover {
				cursor: pointer;
				text-decoration: underline;
			}

			span {
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #000;
				margin-right: 5px;
				border: 1px solid #fff;
			}

			&.active span {
				background: #fff;
			}
		}
	}
}

.rangeslider--vertical {
	width: 10px;
	float: right;
	margin-left: 10px;
	margin-right: 10px;

	.rangeslider__handle {
		left: -6px;
	}
}

.animations {
	bottom: 0;
	right: 0;
	text-align: right;

	ul li span {
		margin-right: 0;
		margin-left: 5px;
	}
}

.scale {
	top: 0;
	right: 0;
}

.visibility {
	top: 0;
	left: 0;
}

.rangeslider__handle {
	width: 20px;
	height: 20px;
}

.rangeslider__fill {
	background: #FF1D25;
}

@media screen and (max-width: 736px) {
	.animations, .scale, .visibility {
  		ul {
  			margin: 5px 0;

	  		li {
		  		padding: 3px 10px;
			    font-size: 14px;

			    span {
					position: relative;
				    top: 1px;
			    }
			}
		}
	}

	.rangeslider--vertical {
		margin-right: 5px;
	}
}