.rangeslider--vertical {
	width: 10px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.rangeslider__handle {
	width: 20px;
	height: 20px;
}

.rangeslider--vertical .rangeslider__handle {
	left: -6px;
}

.rangeslider__fill {
  background: #FF1D25;
}